/* Testimonials */
.testimonials {
  @extend .section-pages;

  .testimonials-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-bottom: 3rem;

    .testimonial-box {
      background: transparent;
      padding: 20px;
      color: $grey1;
      border-radius: 10px;
      border: 2px solid $green;
      box-shadow: 0 8px 16px -3px #00968820;

      .img-user {
        img {
          width: 90px;
          height: 90px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      h2 {
        font-size: 1rem;
        text-transform: uppercase;
        margin: 1rem 0;

        span {
          font-size: 0.8rem;
          color: $grey2;
          text-transform: capitalize;
        }
      }

      .flag {
        margin: 1rem 0;

        img {
          width: 30px;
        }
      }

      i {
        font-size: 2rem;
        color: $grey1;
      }

      p {
        margin-top: 10px;
        text-align: left;
      }
    }
  }
}
